/* General properties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFFFFF;
  --blue-gradient: linear-gradient(46.99deg, #0F58B7 -4.4%, #62D9FF 120.42%);
  --black: #1C1C1C;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  background-color: var(--white);
}

/* Flex properties*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

/* Margins, paddings and gaps */
.mt-1 {
  margin-top: 10px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-14 {
  margin-top: 140px;
}

.mt-22 {
  margin-top: 220px;
}

.p-0 {
  padding: 0px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;

}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.gap-6 {
  gap: 60px;
}

.gap-15 {
  gap: 150px;
}

.gap-20 {
  gap: 200px
}

/* Lists properties */
.list-none {
  list-style: none;
}

/* Text sizes, colors, align and letter spacing*/
.text-2xl {
  font-size: 6.0rem;
}

.text-xl {
  font-size: 4.8rem;
}

.text-l {
  font-size: 3.5rem;
}

.text-s {
  font-size: 3.0rem;
}

.text-b {
  font-size: 1.6rem;
}

.tracking-tight {
  letter-spacing: -1px;
}

.leading-tight {
  line-height: 108%;
}

.leading-snug {
  line-height: 130%;
}

.text-center {
  text-align: center;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.text-white {
  color: var(--white);
}

.text-blue-descendent {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-black {
  color: var(--black);
}

.text-fill-black {
  -webkit-text-fill-color: var(--black);
}

.no-underline {
  text-decoration: none;
}

/* Container and images sizes */
.size1 {
  width: 345px;
}

.size2 {
  width: 588px;
  height: 195px;
}

.size3 {
  width: 709px;
  height: 68px;
}

.size4 {
  width: 94px;
  height: 25px;
}

.img-size-xl {
  width: 466px;
  height: 323px;
}

.img-size-l {
  width: 222.62px;
  height: 270.73px;
}

.img-size-r {
  width: 222.62px;
  height: 192px;
}

.img-size-s {
  width: 130.69px;
  height: 43.31px;
}

.img-size-xs {
  width: 222.62px;
  height: 231.39px;
}

.img-size-xxs {
  width: 30px;
  height: 30px;
}

.img-size-xxxs {
  width: 17px;
  height: 25.02px;
}

/* Borders and Shadows */
.rounded-lg {
  border-radius: 5px;
}

.shadow-none {
  box-shadow: none;
}

.shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.border-none {
  border: 0px;
}

/* Background colors */
.bg-white {
  background-color: var(--white);
}

.bg-blue-descendent {
  background: var(--blue-gradient);
}

/* Buttons properties */
.btn-size1 {
  width: 200px;
  height: 30px;
}

.btn-size2 {
  width: 225px;
  height: 36px;
}
